---
---

$s1:"";
$s2:"";
$s3:"";
@for $i from 1 through 40 {
    $s1: $s1 + random(250) + "px " + random(1000)*0.1vh + " ";
    $s1: $s1 + 0 + " " + random(50)*-0.01rem + " " + #fff;

    $s2: $s2 + random(250) + "px " + random(1000)*0.1vh + " ";
    $s2: $s2 + 0 + " " + random(50)*-0.01rem + " " + #fff;

    $s3: $s3 + random(250) + "px " + random(1000)*0.1vh + " ";
    $s3: $s3 + 0 + " " + random(50)*-0.01rem + " " + #fff;

    @if $i < 40 {
        $s1: $s1 + ",";
        $s2: $s2 + ",";
        $s3: $s3 + ",";
    }
}

$s1_m:"";
$s2_m:"";
$s3_m:"";
@for $i from 1 through 40 {
    $s1_m: $s1_m + random(1000)*0.01vw + " " + random(1000)*0.1vh + " ";
    $s1_m: $s1_m + 0 + " " + random(50)*-0.01rem + " " + #fff;

    $s2_m: $s2_m + random(1000)*0.01vw + " " + random(1000)*0.1vh + " ";
    $s2_m: $s2_m + 0 + " " + random(50)*-0.01rem + " " + #fff;

    $s3_m: $s3_m + random(1000)*0.01vw + " " + random(1000)*0.1vh + " ";
    $s3_m: $s3_m + 0 + " " + random(50)*-0.01rem + " " + #fff;

    @if $i < 40 {
        $s1_m: $s1_m + ",";
        $s2_m: $s2_m + ",";
        $s3_m: $s3_m + ",";
    }
}

.snow {
    border-radius: 50%;
    opacity: 0.7;
    position: absolute;
    top:-100vh;
    animation-name: snowfall;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes snowfall {
    100% { transform: translateY(200vh); }
}

.snow-1 {
    width: 1.5rem;
    height: 1.5rem;
    filter:blur(1.5px);
    box-shadow: #{$s1};
    animation-duration: 10s;
}
.snow-1.alt {
    animation-delay: 5s;
}
.snow-2 {
    width: 1.2rem;
    height: 1.2rem;
    filter:blur(3px);
    box-shadow: #{$s2};
    animation-duration: 12s;
}
.snow-2.alt {
    animation-delay: 6s;
}
.snow-3 {
    width: 0.8rem;
    height: 0.8rem;
    filter:blur(6px);
    box-shadow: #{$s3};
    animation-duration: 14s;
}
.snow-3.alt {
    animation-delay: 7s;
}


.snow.snow-lite {
    top:-100%;
    animation-name: snowfall_lite;
}
@keyframes snowfall_lite {
    100% { transform: translateY(200%); }
}

.snow-1.snow-lite {
    width: 1.2rem;
    height: 1.2rem;
    box-shadow: #{$s1_m};
    animation-duration: 4s;
}
.snow-1.alt.snow-lite {
    animation-delay: 2s;
}
.snow-2.snow-lite {
    width: 0.9rem;
    height: 0.9rem;
    box-shadow: #{$s2_m};
    animation-duration: 6s;
}
.snow-2.alt.snow-lite {
    animation-delay: 3s;
}
.snow-3.snow-lite {
    width: 0.6rem;
    height: 0.6rem;
    box-shadow: #{$s3_m};
    animation-duration: 8s;
}
.snow-3.alt.snow-lite {
    animation-delay: 4s;
}

.hide_snow_form {
    text-align: center;
    margin: 10px 0;
}

.hide_snow_form label {
    color: white;
}

.hide_snow_form .custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #28a745;
    background-color: #28a745;
}