---
layout: default
title: Projects
---

<div>
    <h1 class='display-2 d-none d-lg-block'>
        My Projects
    </h1>
    <p>
        Take a look through some of the stuff I've been working on. Usually my projects
        are based around me learning something new, or trying to better understand something
        that interests me.
    </p>
{% for project in site.projects reversed %}
    <div class='post-summary'>
        <h2>
            <a class='post-heading' href='{{ project.link }}' target='_blank'>
                {{ project.title }}
            </a>
        </h2>
        {{ project.content }}
        
        {% if project.images.size > 0 %}
            <div class='row gallery-set'>
            {% for image in project.images %}
            <div class='project-image gallery-image col-md-4 mb-4'>
                {% assign path = 'assets/img/projects/' | append: image %}
                {% responsive_image_block %}
                    path: {{ path }}
                    class: 'img-fluid img-thumbnail'
                    alt: {{ image }}
                {% endresponsive_image_block %}
            </div>
            {% endfor %}
            </div>
        {% endif %}

        <a href='{{ project.link }}' class='btn btn-secondary' target='_blank'>Check out {{ project.title }}</a>
    </div>
{% endfor %}
</div>

