{% capture currentMonth %}{{ site.time | date: '%m' }}{% endcapture %}
{% capture currentDay %}{{ site.time | date: '%d' }}{% endcapture %}
{% capture currentMD %}{{currentMonth}}-{{currentDay}}{% endcapture %}

{% if currentMonth == '12' %}
    {% if currentDay > '09' %}
        {% comment %}It's between Dec 10 and Dec 31 inclusive{% endcomment %}
        <link rel='stylesheet' href='/assets/css/seasonal.css' />
        <script src='/assets/js/seasonal/christmas.js'></script>
    {% endif %}
{% endif %}

