@import "nav";
@import "posts";
@import "syntax";
@import "projects";

$body-background: #fff;

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: $body-background;
}

#wrapper {
    display: flex;
    width: 100%;
}
