.post-summary {
    margin-bottom: 1rem;
}

.post-heading {
    color: #222;
    text-decoration: none;
}
.post-heading:hover {
    color: #3e3e3e;
    text-decoration: none;
}

.post-heading h2, h2.post-heading {
    border-bottom: 2px solid #ccc;
    padding-bottom: 2px;
}