<!doctype html>

<html lang='en'>
    <head>
        <meta charset="utf-8">
        <title>A Lite Byte</title>
        <link rel='stylesheet' href='/assets/css/bootstrap.min.css'>
        <link rel='stylesheet' href='/assets/css/styles.css' />
        <link rel='stylesheet' href='/assets/css/syntax.css' />
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class='wrapper'>
            <!-- <div id='sidebar'>
                <div id='sidebar-header'>
                    <h1>
                        A Lite Byte
                    </h1>
                </div>
            </div> -->
            <div id='page'>
                {{ content }}
            </div>
        </div>

        <script src='/assets/js/jquery-3.4.1.min.js'></script>
        <script src='/assets/js/popper.min.js'></script>
        <script src='/assets/js/bootstrap.min.js'></script>
    </body>
</html>