<!doctype html>

<html lang='en'>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{{ site.title }}</title>
        <link rel='stylesheet' href='/assets/css/bootstrap.min.css'>
        <link rel='stylesheet' href='/assets/css/styles.css' />
        <link rel='stylesheet' href='/assets/css/syntax.css' />
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    </head>
    <body>
        <nav id='top-nav' class='navbar navbar-expand-lg navbar-dark'>
            <a class="navbar-brand" href="/index.html">{{ site.title }}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#top-nav-content" aria-controls="top-nav-content" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id='top-nav-content' class='collapse navbar-collapse'>
                <ul class='navbar-nav mr-auto'>
                    {% for item in site.navigation %}
                        <li class="nav-item {% if page.url == item.href %}active{% endif %}">
                            <a class="nav-link" href="{{item.href}}">{{item.name}}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </nav>

        <div class='container'>
            <div id='page'>
                <div class='col'>
                    {{ content }}
                </div>
            </div>
        </div>

        <script src='/assets/js/jquery-3.4.1.min.js'></script>
        <script src='/assets/js/popper.min.js'></script>
        <script src='/assets/js/bootstrap.min.js'></script>
    </body>
</html>